
<div class="container" *ngIf="productFormGroup">
    <!-- {{productFormGroup.value | json}} -->
    <form [formGroup]="productFormGroup">
        <div action="form-group">
            <label >ID</label>
            <input type="text" name="id" class="form-control" formControlName="id">
        </div>
        <div action="form-group">
            <label >Name</label>
            <input type="text" name="name" class="form-control" formControlName="name"
            [ngClass]="{'is-invalid':submitted && productFormGroup.controls['name'].errors}">
            <div *ngIf="submitted && productFormGroup.controls['name'].errors" class="invalid-feedback">
                <div *ngIf="productFormGroup.controls['name'].errors['required']">Name is Required</div>
            </div>
        </div>
        <div action="form-group">
            <label >Price</label>
            <input type="text" name="price" class="form-control" formControlName="price"
            [ngClass]="{'is-invalid':submitted && productFormGroup.controls['price'].errors}">
            <div *ngIf="submitted && productFormGroup.controls['price'].errors" class="invalid-feedback">
                <div *ngIf="productFormGroup.controls['price'].errors['required']">Price is Required</div>
            </div>
        </div>
        <div action="form-group">
            <label >Quantity</label>
            <input type="text" name="quantity" class="form-control" formControlName="quantity"
            [ngClass]="{'is-invalid':submitted && productFormGroup.controls['quantity'].errors}">
            <div *ngIf="submitted && productFormGroup.controls['quantity'].errors" class="invalid-feedback">
                <div *ngIf="productFormGroup.controls['quantity'].errors['required']">Quantity is Required</div>
            </div>
        </div>
        <div action="form-group">
            <input type="checkbox" name="selected" class="form-check-input" formControlName="selected">
            
            <label class="form-check-label">Selected</label>
        </div>
        <div action="form-check">
            <input type="checkbox" name="available" class="form-check-input" formControlName="available">     
            <label class="form-check-label">Availabele</label>
        </div>
        <button class="btn btn-success" (click)="onUpdateProduct()">Save</button>
     </form>
</div>